// main: main.less

@media screen and (max-width:1222px){
    #patrimonio{
        background: url(../img/home/addon-u.png) center 1100px no-repeat;
    }
    #soluciones{
     background: url(../img/home/line-blue-addonToP-border.png) 146% 23% no-repeat;
    }
    #contacto{
        h2{
            padding-left: 220px;
        }
        .gray-block{
        padding: 50px 80px 30px 227px;
        }
    }
}

@media screen and (max-width:650px){
    .heavy{
        font-size: 45px;
    }
    
    h2{
        span.white{
            font-size: 45px;
        }
    }
    .mov{
        display: block;
    }
    .mov-hid{
        display: none;
    }
    p{
        font-size: 18px;
        line-height: 100%;
    }
    h2{
        
        font-size: 32px;
        line-height: 110%;
        span.dark-blue{
            font-size: 38px;
        }
    }
    
     .flex {
        &.nowrap {
            flex-wrap: wrap;
        }

        .col {
            width: 100%;    
            padding: 0px 3px;
            box-sizing: border-box;
          }
        }
    
    #who{
        
        padding: 30px 45px;
        .flex{
            flex-wrap: wrap-reverse;
            text-align: justify;
            align-items: center;
            border-top: 6px solid @navy;
            
            .col{
                h2{
                    padding-left: 23%;
                }
            }
        }
        img{
            width: 100%;
            position: inherit;
            padding-top: 30px;
            bottom: 0px;
            left: 0px;
        }
        h2{
            padding-top: 30px;
        }
        p{
            padding-top: 20px;
        }
    }
    
    #valores{
        background: url(../img/home/addon-u.png) center -100px no-repeat;
        .dark-blue-back{
            padding: 5px;
            margin: 0px 60px;
            width: 300px;
        }

        .center{
            padding-top: 30px;
            position: relative;
            border-top: 0px solid @l-navy;
            text-align: justify;
            text-align-last: center;
            margin:0 auto;
            
            .left{
                margin: auto;
                align-items: center;    
                text-align: justify;
                text-align-last: left;
                float: none;
                margin:0 auto;
                padding-left: 16%;
                
                p{
                font-size: 26px;
                }
                
            }
            
        }
        .col{
            padding: 30px 10px;

        }
        h2{
            line-height: 110%;
        }
        .right{
            border-right: 2px solid @navy;
        }
        p{
            padding: 0px 20px;
            margin: 3px 0px;
        }
    }
    
    #proposito{
        
        .flex{
            flex-wrap: wrap-reverse;
        }

        #miss-happy{
             background: url(../img/home/miss-happy.png) 0px 60px no-repeat;
             background-size: 100%;
        }
        .col{
            //padding-left: 20px;
            padding-bottom: 200px;
            padding-top: 40px;
            h2{
                padding-bottom: 30px;
                padding-left: 35px;
            }
        }

        p{
            
            border-left: 8px solid @l-navy;
            padding: 8px 20px 2px 5px;
            margin-left: 35px;
        }
    }
    
    #patrimonio{
        
        .flex{
            align-items: center;
            vertical-align: middle;
            //margin-left: 18%;
            flex-flow: row wrap;
            justify-content: space-around;
            
            
        }
        padding-bottom: 20px;
        .dark-blue-back{
            height: 300px;
            h2{
                padding-top: 40px;
            }
        }

        background: none;
        img{
            width: 39%;
        }
        .col{
            position: relative;
            bottom: 150px;
            background-color: white;
            width: 72%;
            margin: 0;
            padding: 20px 8px;
            p{
                font-size: 22px;
            }
        }
        #line{
            position: relative;
            bottom: 150px;
            width: 73%; 
            padding: 50px 0px;
        }
    }
    
    #soluciones{
        padding-bottom: 150px;
         background: none;
        
        img{
            width: 70%;    
        }

        .border-right{
            padding: 11px;
            border-right: solid 8px @l-navy;
            margin: 20px 40px;
            text-align: justify;
        }
        h2{
            font-size: 30px;
            line-height: 115%;
            padding: 5px 35px;
            span{
                font-size: 30px;
            }
        }

        .flex{
            height: 1000px;
            flex-wrap: nowrap;
        }
        .col{
            position: relative;
            bottom: 5px;
            background-color: white;
            width: 30%;
            margin: 0px 8px;
            padding: 15px;
            height: 400px;

        }

        .flex{
            &.flex-small{
                height: 100px;
            }
            .col-small{
            height: 80px;
            }
        }

        p{
            .heavy{
                padding: 0;
                line-height: 100%;
                font-size: 30px;
            }
        }
    }

    
    
    
}