<h3>¿Cómo comprar una caja fuerte, ventana o puerta blindada?</h3>
<ol>
    <li>Define donde quieres instalar la caja fuerte, puerta o ventana blindada (casa, negocio, oficina, empresa, unidades móviles).</li>
    <li>Identifica los objetos que deseas resguardar en caso de adquirir una  caja fuerte.  Y en caso de requerir  puertas o ventanas blindadas, revisar la funcionalidad, sistema e interacción del personal.</li>
    <li>Ubica el espacio donde instalará y  las medidas que necesitas.</li>
    <li>Revisa nuestro catálogo, si lo tenemos en nuestros modelos estandarizados o requieres un producto especial.</li>
    <li>Contáctanos a través del siguiente formulario de contacto y proporcionarnos el modelo que cumple con tus necesidades y en caso de requerir un producto especial, darnos tus especificaciones.</li>
    <li>Al saber lo que necesitas, te haremos llegar el presupuesto y la información técnica del producto.</li>
    <li>Aprobado el presupuesto, levantamos tu pedido y te damos los datos para el depósito del 100% del valor del producto.</li>
    <li>En caso de productos especiales te mandaremos un boceto para tu aprobación y una vez validado, se solicitará un 75% de anticipo para iniciar con la fabricación y el 25% restante se tendrá que depositar antes del envío.</li>
    <li>En cuanto confirmamos  tu depósito, se envía el producto por paquetería al domicilio que nos indiques y  te proporcionaremos el número de guía para el seguimiento.</li>
    <li>Cuando el producto llegue a su destino, nuestro personal se contactará contigo para cualquier duda o soporte técnico.</li>
    <li>Ofrecemos servicio de instalación únicamente en las ciudades de León, San Francisco del Rincón del Estado de Guanajuato y Zapopan, Jalisco. Con costo adicional dependiendo del modelo de la caja.</li>
</ol>